<header class="align-right">
	<a class="float-left" href="/"><img id="logo-meme" src="/images/logo-meme.png"><span>me.meme;</span></a> <!--glyph and title ???????? -->
		<ul>
			<li>welcome, <strong><span><%= username %></span></strong></li>
		</ul>
</header>
<div>
	<img id="banner" src="/images/banner.png">
</div>