<header class="log-sign">
	<a href="/"><img id="logo-meme" src="/images/logo-meme.png"><span>me.meme;</span></a> <!--glyph and title ???????? -->
	<ul class="align-right">
		<li><a href="/login/new">log in</a></li>
		<li><a href="/users/new">sign up</a></li>
	</ul>
</header>
<div class="banner">
	<img src="/images/banner.png">
</div>