<!DOCTYPE html>
<html>
<head>
	<%- include('partials/head.ejs') %>
</head>
	<body>
		<div class="container">
			<header class="log-sign">
				<img src="/images/logo-meme.png">me.meme; <!--glyph and title ???????? -->
				<ul>
					<li><a href="/login/new">log in</a></li>
					<li><a href="/users/new">sign up</a></li>
				</ul>
			</header>
			<div class="banner">
				<img src="/images/banner.png">
			</div>
			<nav class="sort-post">
				sort by:
				<ul>
					<li><a href="#">popular</a></li>
					<li><a href="#">recent</a></li>
				</ul>
				<p>|| <a href="#">+ post new topic</a></p>
			</nav>
			<article>
			</article>
			<footer>
				<p>&copy; james goatcher 2016</p>
				<img id="logo" src="/images/logo.png">
			</footer>
		</div>
	</body>
</html>