<!DOCTYPE html>
<html>
<head>
	<%- include('partials/head.ejs') %>
</head>
	<body>
		<div class="container">
			<%- include('partials/header.ejs') %>
			<nav class="sort-post">
				sort by:
				<ul>
					<li><a href="#">popular</a></li>
					<li><a href="#">recent</a></li>
				</ul>
				<p class="align-right">|| <a href="#">+ post new topic</a></p>
			</nav>
			<article>
				<div>content</div>
				<div>content</div>
				<div>content</div>
				<div>content</div>
				<div>content</div>
				<div>content</div>
				<div>content</div>
				<div>content</div>
			</article>
			<footer>
				<p>&copy; james goatcher 2016</p>
				<img class="align-right" id="logo" src="/images/logo.png">
			</footer>
		</div>
	</body>
</html>