<!DOCTYPE html>
<html>
<head>
	<%- include('partials/head.ejs') %>
</head>
	<body>
		<div class="container">
			<%- include('partials/header.ejs') %>
			<nav class="align-right">
				<p class="float-left">sort by:</p>
				<ul class="float-left">
					<li><a href="#"><strong>popular</strong></a></li>
					<li><a href="#">recent</a></li>
				</ul>
				<p>|| <a href="#">+ post new topic</a></p>
			</nav>
			<article>
				<div>content</div>
				<div>content</div>
				<div>content</div>
				<div>content</div>
				<div>content</div>
				<div>content</div>
				<div>content</div>
				<div>content</div>
			</article>
			<%- include('partials/footer.ejs') %>
		</div>
	</body>
</html>