body {
	font-family: 'Source Code Pro', monospace;
	color: #333;
	text-transform: lowercase;
	font-weight: 300;
	background-color: #fff;
}

a {
	color: #aaa;
	text-decoration: none;
}

ul {
	list-style: none;
	display: inline-block;
	padding: 0;
}

li {
	display: inline-block;
	padding: 0 1em;
}

p {
	display: inline-block;
}

span {
	color: #333;
	display: inline-block;
	text-transform: none!important;
}

h2 {
	font-size: 1em;
}

.container {
	background-color: #fff;
	max-width: 800px;
	margin: 0 auto;
	padding: 1em 3em;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.float-left {
	float: left;
}

.post {
	position: relative;
	height: 85px;
	border-top: 1px  solid #333;
	border-bottom: 1px  solid #333;
	margin: 1em 0;
}

.like {
	position: absolute;
	top: 2em;
}

.submit-like {
	position: absolute;
	top: 0em;
	left: 1em;
	font-family: 'Source Code Pro', monospace;
	font-weight: 300;
	height: 100%;
	width: 100%;
	background-color: #fff;
	color: #000;
	border: none;
	margin: 0;
	padding: 0;
}

.title {
	font-size: 1.5em;
	margin: 0!important;
	padding: 0;
	display: block;
	position: absolute;
	left: 2em;
	top: .3em;
}

.timestamp {
	margin: 0;
	font-size: .75em;
	padding: 0;
	display: block;
	position: absolute;
	left: 4.2em;
	top: 3.3em;
}

.comments {
	margin: 0;
	font-weight: bold;
	font-size: .75em;
	display: block;
	position: absolute;
	top: 5em;
	left: 4.1em;
}

.input {
	display: block;
	height: 3em;
	width: 30em;
	margin: 0 auto;
}

.input-body {
	display: block;
	padding-bottom: 9em;
	width: 30em;
	margin: 0 auto;
}

.input-comment {
	display: block;
	padding-bottom: 9em;
	width: 30em;
	text-align: left;
}

.submit {
	font-family: 'Source Code Pro', monospace;
	font-weight: 300;
	height: 3em;
	width: 10em;
	background-color: #000;
	color: #fff;
	border: none;
	margin: 2em 0;
}

.error {
	color: red;
}

.show-data {
	font-size: .75em;
	margin: 0;
}

.show-p {
	display: block;
	padding: 0 0 0 1em;
}

.show-h1 {
	margin: .5em 0 0 0;
}

.show-form {
	margin: 1.5em 0 0 0;
}

.comment-show {
	padding: 0 0 0 4em;
	margin: .5em 0;
	font-size: .8em;
}

#banner {
	max-width: 100%;
}

#logo {
	height: 80px!important;
	display: inline-block;
}

#logo-meme {
	padding-right: 1em;
}

#footer-text {
	margin: 3.5em 0;
}

#dolan {
	display: block;
	margin: 25% auto;
	text-align: center;
}

@media (max-width: 780px) {
	.post {
		height: 100%;
		display: inline-block;
		position: static;
	}

	.like {
		display: inline-block;
		position: static;
	}

	.title {
		font-size: 1.25em;
		display: inline-block;
		position: static;
	}
	.timestamp {
		display: block;
		position: static;
	}

	.comments {
		display: block;
		position: static;
	}

}