body {
	font-family: 'Source Code Pro', 
	monospace;color: #333;
	text-transform: lowercase;
	font-weight: 300;
	background-color: #333;
}

a {
	color: #aaa;
	text-decoration: none;
}

ul {
	list-style: none;
	display: inline-block;
	padding: 0;
}

li {
	display: inline-block;
	padding: 0 1em;
}

p {
	display: inline-block;
}

span {
	color: #333;
	display: inline-block;
}

h2 {
	font-size: 1em;
}

.container {
	background-color: #fff;
	max-width: 800px;
	margin: 0 auto;
	padding: 1em 3em;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.float-left {
	float: left;
}

.post {
	position: relative;
	height: 85px;
	border-top: 1px  solid #333;
	border-bottom: 1px  solid #333;
	margin: 1em 0;
}

.like {
	position: absolute;
	top: 2em;
}

.title {
	font-size: 2em;
	margin: 0!important;
	padding: 0;
	display: block;
	position: absolute;
	left: 1.5em;
}

.timestamp {
	margin: 0;
	font-size: .75em;
	padding: 0;
	display: block;
	position: absolute;
	left: 4.2em;
	top: 3.3em;
}

.comments {
	margin: 0;
	font-weight: bold;
	font-size: .75em;
	display: block;
	position: absolute;
	top: 5em;
	left: 4.1em;
}

.input {
	display: block;
	height: 3em;
	width: 30em;
	margin: 0 auto;
}

.input-body {
	display: block;
	padding-bottom: 9em;
	width: 30em;
	margin: 0 auto;
}

.input-comment {
	display: block;
	padding-bottom: 9em;
	width: 30em;
	text-align: left;
}

.submit {
	font-family: 'Source Code Pro', monospace;
	font-weight: 300;
	height: 3em;
	width: 10em;
	background-color: #000;
	color: #fff;
	border: none;
	margin: 2em 0;
}

#banner {
	max-width: 100%;
}

#logo {
	height: 80px!important;
	display: inline-block;
}

#logo-meme {
	padding-right: 1em;
}

#footer-text {
	margin: 3.5em 0;
}

