body {
	font-family: 'Source Code Pro', 
	monospace;color: #333;
	text-transform: lowercase;
	font-weight: 300;
	background-color: #333;
}

a {
	color: #aaa;
	text-decoration: none;
}

ul {
	list-style: none;
	display: inline-block;
	padding: 0;
}

li {
	display: inline-block;
	padding: 0 1em;
}

p {
	display: inline-block;
}

span {
	color: #333;
}

.container {
	background-color: #fff;
	max-width: 800px;
	margin: 0 auto;
	padding: 1em 3em;
}

.align-right {
	text-align: right;
}

#logo {
	height: 80px!important;
}

#logo-meme {
	padding-right: 1em;
}