<!DOCTYPE html>
<html>
<head>
	<title>me.meme : your meme-speak</title>
	<link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:400,300,500' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/style.css" type="text/css">
	<meta charset="UTF-8">
<body>
	<div class="container">
		<header class="align-right">
			<a class="float-left" href="/"><img id="logo-meme" src="/images/logo-meme.png"><span>me.meme;</span></a>
				<ul>
					<li></li>
					<li></li>
				</ul>
		</header>
		<div>
			<img id="banner" src="/images/banner.png">
		</div>
		<div class="align-center">
			<p class="error text">your username is unavailable.  please try again:</p>
			<br>
			<a href="/users/index">sign up here</a>
		</div>
		<footer class="align-right">
			<p class="float-left" id="footer-text">&copy; james goatcher 2016</p>
			<a href="/login/title"><img class="align-right" id="logo" src="/images/logo.png"></a>
		</footer>
	</div>
</body>
</html>